# ~/.bashrc
# Steven Medley

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls="ls --color=auto"
alias grep="grep --colour=auto"
alias egrep="egrep --colour=auto"
alias fgrep="fgrep --colour=auto"

PS1="[\u@\h \W]\$ "
# tarex - archive extractor, changed from ex due to vi
# usage: tarex <file>
tarex ()
{
  if [ -f $1 ] ; then
    case $1 in
      *.tar.xz)     tar xf $1   ;;
      *.tar.zst)   unzstd $1    ;;
      *.tar.bz2)   tar xjf $1   ;;
      *.tar.gz)    tar xzf $1   ;;
      *.bz2)       bunzip2 $1   ;;
      *.rar)       unrar x $1   ;;
      *.gz)        gunzip $1    ;;
      *.tar)       tar xf $1    ;;
      *.tbz2)      tar xjf $1   ;;
      *.tgz)       tar xzf $1   ;;
      *.zip)       unzip $1     ;;
      *.Z)         uncompress $1;;
      *.7z)        7z x $1      ;;
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1'is not a valid file"
  fi
}
# Used for github signing commits
export GPG_TTY=$(tty)
#################### WARNING EVERYTHING BELOW THIS LINE IS A HACK ######################################################
# The reason I made this, is because I needed to solve a problem, and everything i have read online
# about configuring git and so on, i dont want ssh config to use hostnames etc...
# and gitconfig with the [includeIf] just wasn't cutting it for me
# i still had to manually switch once i cloned a repository etc.
# switch Git config based on current directory
# don't take the WARNING of the HACK lightly, and fyi, i hope " WARNING " and " HACK " show up bright colors in your editor
# and that it annoys the heck out of you so you think twice, and decide not to use it

# switch Git config based on current directory
switch_git() {
    local wName="Work Name"                                 # work
    local wEmail="Work@Email.com"                           # work
    local wSign="XXXXGPG_KEYXXXXX"                          # work
    local wToken="XXXXXXXXXXXXXGIT_PAT__TOKENXXXXXXXXXXXXX" # work WARNING this is a HACK
    local pName="Personal Name"                             # personal
    local pEmail="Personal@Email.com"                       # personal
    local pSign="XXXXGPG_KEYXXXXX"                          # Personal
    local pToken="XXXXXXXXXXXXXGIT_PAT__TOKENXXXXXXXXXXXXX" # Personal WARNING this is a HACK
    local work_Dir="$HOME/PATH/TO/WORK/"  # whatever directory to use just for work, everything else is personal
    local current_dir=$(pwd)                                # current directory
    # WARNING THIS IS A HACK (i want it to be very clear, you probably shouldnt do this)
    # Determine if the current directory is within the work directory
    if [[ "$current_dir" == "$work_Dir"* ]]; then
        # Switch to work Git config
        git config --global user.name "$wName"
        git config --global user.email "$wEmail"
        git config --global user.signingkey "$wSign"
        export GPGKEY="$wSign" # GPGKEY it is used directly by repo-add for creating arch repositories
        export GIT_SSH_COMMAND="ssh -i ~/.ssh/id_rsa_work -o IdentitiesOnly=yes" # GIT_SSH_COMMAND is used directly by git
        export GH_TOKEN="$wToken" # GH_TOKEN is used directly by gh (gh-cli)
    else
        # Switch back to personal Git config
        git config --global user.name "$pName"
        git config --global user.email "$pEmail"
        git config --global user.signingkey "$pSign"
        export GPGKEY="$pSign" # GPGKEY it is used directly by repo-add for creating arch repositories
        export GIT_SSH_COMMAND="ssh -i ~/.ssh/id_rsa_personal -o IdentitiesOnly=yes" # GIT_SSH_COMMAND is used directly by git
        export GH_TOKEN="$pToken" # GH_TOKEN is used directly by gh (gh-cli)
    fi
}

# This updates PROMPT_COMMAND to include switch_git
# dont change "PROMPT_COMMAND", it is used directly by bash, this is how the magic happens when you cd to work directory
export PROMPT_COMMAND="switch_git; $PROMPT_COMMAND"
# Now that you're here, the WARNING of this being a HACK wasnt enough to turn you away
# Thats not all, THERES MORE! WARNING this HACK can and probably will cause the slightest delay in the terrminal.
